/* custom variables */
$primary: #c29938;
$light: #fbf5e5;
/* import the functions and variablse */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "altlight": #ffeebe,
  "altdark": #522192,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);
$link-hover-color: darken($link-color, 15%);

/* bootstrap import */
@import "../node_modules/bootstrap/scss/bootstrap";
